@media (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    }

    #menu {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        padding: 1rem 2rem;
    }

    .container {
        grid-template-columns: 2fr 1fr;
    }

    .courses-card {
        grid-column: 1 / -1;
    }

    #course-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
